/* basic styles */

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: #f8f9fa;
    border-top: 0.5px solid rgba(0, 0, 0, 0.08);
    height: 8vh;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
}

p {
    text-indent: 10px;
    margin-top: 2px;
}

i:hover {
    color: rgba(156, 66, 224, 0.85);
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.state-active{
    color: rgba(156, 66, 224, 0.85);
}

/* basic styles */

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #adb5bd;
}

.custom-control-input:active ~ .custom-control-label::before {
    background-color: #adb5bd;
}

.header .navbar {
    height: 11vh;
}

.header .container-fluid {
    margin-left: 10vw;
    margin-right: 10vw;
}

.header .container-fluid img {
    height: 48px;
    width: 48px;
}

.header .dropdown img {
    height: 32px;
    width: 32px;
}

/* profile-content start*/

#profileContent {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

#profileContent .side-bar {
    width: 20vw;
}

#profileContent .side-bar .nav .nav-item:hover {
    background-color: #b46ceb46;
}

#profileContent .user-content {
    width: 60vw;
}

#profileContent .user-content h3 {
    color: rgba(0, 0, 0, 0.6);
}

#profileContent .side-bar li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#profileContent .side-bar .user-info img {
    height: 18vw;
    width: 18vw;
    object-fit: cover;
    margin-bottom: 15px;
}

#profileContent i {
    margin-right: 8px;
}

#recipeCard .card-img-top {
    height: 30vh;
    object-fit: cover;
    margin: auto;
}

#recipeCard .card-footer {
    justify-content: space-between;
    font-size: 1.1em;
}

#userCard .card-img-top {
    height: 30vh;
    background-position: center center;
    background-repeat: no-repeat;
}

#userProfileContent .recipe-actions {
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
}

.no-content-text {
    color: rgba(0, 0, 0, 0.1);
    margin-top: 15vh;
    width: auto;
}

#subscribe-button, #ban-button {
    width: 15vw;
    margin: 0 auto;
}

/* profile-content end*/

/* settings-content start*/

.settings-content .container {
    display: flex;
    justify-content: center;
}

.settings-content .container .editing {
    width: 70vw;
}

.settings-content label {
    margin-bottom: 7px;
    margin-top: 3px;
}

.settings-content .profile-image {
    width: 20vw;
}

/* settings-content end*/

/* recipe-editing start*/

.recipe-content {
    display: flex;
    justify-content: center;
}

.recipe-content .container h3 {
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

.recipe-content .container {
    background-color: #f8f9fa;
    display: inline;
    width: 95vw;
}

.recipe-content .container-content {
    display: flex;
    justify-content: space-between;
}

.recipe-content .recipe-images {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
    width: 25vw;
}

.recipe-content .recipe-images .row .col img {
    border: 1px solid lightgray;
    height: 10vw;
    width: 10vw;
}

.recipe-content .recipe-form {
    width: 70vw;
}

.recipe-content .form-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 58vh;
}

.recipe-content .recipe-form .time-of-cooking {
    display: flex;
    justify-content: start;
}

.recipe-content .recipe-form .time-of-cooking input {
    width: 55px;
    height: 30px;
    text-align: center;
}

.recipe-content .recipe-form .time-of-cooking .ingredients {
    display: flex;
    justify-content: space-between;
}

.recipe-content .recipe-form .ingredients .ingredient-item {
    display: flex;
    justify-content: start;
}


.recipe-content .recipe-attributes .form-add textarea {
    height: 15vh;
}

.recipe-content .recipe-attributes .action-buttons {
    display: flex;
    justify-content: end;
}

/* recipe-editing end*/


/* comment-content start*/

.comment-content .container {
    width: 90vw;
}

.comment-content h4, h5 {
    text-align: start;
}

.comment-content .container .new-comment .comment-actions .btn {
    border: 0.7px solid rgba(0, 0, 0, 0.2);
}

.comment-content .container .new-comment .rating-area {
    overflow: hidden;
    width: 260px;
}

.comment-content .container .new-comment .rating-area:not(:checked) > input {
    display: none;
}

.comment-content .container .new-comment .rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 30px;
    line-height: 30px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.comment-content .container .new-comment .rating-area:not(:checked) > label:before {
    content: '★';
}

.comment-content .container .new-comment .rating-area > input:checked ~ label {
    color: #b46cebc2;
    text-shadow: 1px 1px #8a35ca;
}

.comment-content .container .new-comment .rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: #b46cebc2;
}

.comment-content .container .new-comment .rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: #b46cebc2;
    text-shadow: 1px 1px #8a35ca;
}

.comment-content .container .new-comment .rate-area > label:active {
    position: relative;
}

.comment-content .container .old-comments .media {
    border-top: 1px dashed #DDDDDD;
    padding: 20px 0;
    margin: 0;
}

.comment-content .container .old-comments .media > .pull-left {
    margin-right: 20px;
}

.comment-content .container .old-comments .media img {
    max-width: 100px;
}

.comment-content .container .old-comments .media h4 {
    text-indent: 20px;
}

.comment-content .container .old-comments .media h4 span {
    font-size: 14px;
    float: right;
    color: #999999;
}

.comment-content .container .old-comments .media p {
    margin-bottom: 10px;
    margin-right: 15px;
    text-align: justify;
    text-indent: 20px;
}

.comment-content .container .old-comments .media-detail {
    margin: 0;
}

.comment-content .container .old-comments .media-detail li {
    color: #AAAAAA;
    font-size: 12px;
    padding-right: 10px;
    font-weight: 600;
}

.comment-content .container .old-comments .media-detail .like-btn:hover {
    color: #b46ceb;
    cursor: pointer;
}

.comment-content .container .old-comments .media-detail a:hover {
    text-decoration: underline;
}

.comment-content .container .old-comments .media-detail li:last-child {
    padding-right: 0;
}

.comment-content .container .old-comments .media-detail li i {
    color: #666666;
    font-size: 15px;
    margin-right: 10px;
}

.comment-content .container .old-comments .rating-result {
    width: 150px;
}

.comment-content .container .old-comments .rating-result span {
    padding: 0;
    font-size: 24px;
    line-height: 24px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.comment-content .container .old-comments .rating-result > span:before {
    content: '★';
}

.comment-content .container .old-comments .rating-result > span.active {
    color: #b46cebc2;
    text-shadow: 1px 1px #8a35ca;
}

/* comment-content end*/


/* search-content start */

.search-content .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 63vh;
}

.search-content .container .search-form .btn:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.search-content .container .content-area .container {
    width: 80vw;
}

/* search-content end */


/* recipe-view start */

.recipe-view .container {
    background-color: #f8f9fa;
    padding-bottom: 3px;
    width: 90vw;
}


.recipe-view .container .preview {
    display: flex;
    justify-content: space-between;
    margin-left: 3vw;
    margin-right: 3vw;
}


.recipe-view .container .preview .preparation {
    width: 30vw;
}

.recipe-view .container .preview .preparation h3 {
    text-align: center;
}

.recipe-view .container .preview .preparation h2:hover {
    text-decoration: underline;
    transform: scale(1.1, 1.1);
}

.recipe-view .container .ingredient-list-dots li {
    size: 1.4rem;
    line-height: 1.7;
    display: flex;
}

.recipe-view .container .ingredient-list-dots li .title {
    order: 1;
}

.recipe-view .container .ingredient-list-dots li .chapter {
    order: 3;
}

.recipe-view .container .ingredient-list-dots li::after {
    background-image: radial-gradient(circle, currentcolor 0.3px, transparent 1px);
    background-position: bottom;
    background-size: 1ex 4px;
    background-repeat: space no-repeat;
    content: "";
    flex-grow: 1;
    height: 1em;
    order: 2;
}

.recipe-view .container .preview .result-images .carousel {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.08);
    width: 45vw;
}

.recipe-view .container .preview .result-images .carousel-item img {
    height: 35vh;
    margin: 0 auto;
}

.recipe-view .container .description {
    text-align: justify;
    line-height: 1.7;
    text-indent: 20px;
}

.recipe-view .container .description .recipe-text {
    width: 78vw;
    margin: 0 auto;
}

.recipe-view .container .description h5:hover {
    text-decoration: underline;
}

.recipe-view .container .action-icons {
    margin-right: 10px;
}

/* recipe-view end */


/* auth */
.form-container h2 {
    text-align: center;
}

.form-container {
    width: 70vw;
    margin: 0 auto;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container .btn {
    width: 30vw;
}

.redirect-registration, .redirect-login {
    text-align: center;
    margin-top: 4px;
}


/* auth */